@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@font-face {
  font-family: 'more';
  src: url('font/more');
  src: url('font/more.eot?#iefix') format('embedded-opentype'), url('font/more.woff') format('woff'), url('font/more.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 3em 2em;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 1;
  background: #333333;
}
.pen {
  max-width: 620px;
  margin: 0 auto;
  position: relative;
}
.credit {
  display: block;
  max-width: 400px;
  text-align: center;
  margin: 150px auto 0;
  padding: 0;
  font-size: 0.8em;
  color: #f0f0f0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.9);
}
.credit p a,
.credit a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.credit p a:hover,
.credit a:hover,
.credit p a:active,
.credit a:active {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  color: white;
}
.credit p a.button,
.credit a.button {
  padding: 6px 12px;
  margin-top: 10px;
  background: #1a1a1a;
  border-radius: 3px;
}
.credit p a.button:hover,
.credit a.button:hover {
  background: #4d4d4d;
}
.credit p:last-of-type {
  margin-bottom: 30px;
}
.stage {
  max-width: 620px;
  height: 400px;
  background: red;
}
.element {
  background: green;
  width: 200px;
  -webkit-transform-origin: 50% 50%;
  height: inherit;
  margin: 0 10px 0 0;
  display: inline-block;
  float: left;
}
.element.active {
  width: 280px;
}
.element.inactive {
  width: 160px;
}
.element:last-of-type {
  margin: 0;
}
